@media (min-width: 40em) {
  /* Probably some parent element that limits the img width */
  main {
    width: 100%;
  }
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */

.header{
    height: 100px;
    position: relative;
    background: #666;
}

.header .logo,
.navbar a{
    color: white;

}

.logo{
  font-size: 45px;
}

.navbar{
    padding: 1rem;
}

.spannew{
  color: rgb(151, 206, 96);
}

.spantask{
  color: burlywood;
}

 .navbar .logo{
    float: left;
    font-size: 30px;
    margin: 15px;
}

 .navbar .nav-items{
   float: right;
   margin-top: 1rem;
}

 .navbar .nav-item{
    display: inline-block;
    padding: 1rem ;
    text-transform: uppercase ;
}

.navbar a:link,
.navbar a.visited{
    color: #f4f4f4;
}

.navbar a:hover{
    border-bottom: 3px solid red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #666;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* footer */

.footer{
    background: #333;
    margin-top: 15px;
    height: 75px;
    width: 100%;
}

.footertext{
   padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
}

/* card  image and text css */

.cardtext{
   display: flex;
   justify-content: center;
   
}

.boxed{
    width: 350px;
    height: 580px;
    margin: 20px;
    align-items: center;
    background-color: #dfdfdf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.boxed:hover {
 
  transform: scale(1.05); 
}

.h3{
    font-size: 30px;
    padding-left: 25px;
}

.p{
    margin: 10px;
    font-size: 20px;
    padding-left: 25px;
    text-align: justify;
    padding-right: 10px;
}

/* service css */

.sectiontab {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

  }

  .section-heading{
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
    text-shadow: 1px 2px #444;
    
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 155px;
    margin-right: 155px;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
    transform: scale(1.05); 
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
  }
  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }

 .column {
     flex: 0 0 33.33%;
     max-width: 33.33%;
}
  

/* team member */

.cardtexted{
  display: flex;
  justify-content: center;
}

.boxs:hover {
 
  transform: scale(1.08); 
}

.boxs{
   width: 350px;
   height: 450px;
   margin: 20px;
   align-items: center;
   background-color: #dfdfdf;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  
}

.h3team{
   font-size: 30px;
   text-align: center;
   padding-top: 10px;
}

.h4{
  color: #2c7bfe;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.teamheader{
  text-align: center;
  font-size: 25px;
  height: 50px;
  margin-top: 10px;
  text-shadow: 1px 2px #444;
}

/* contect from css */

.h2{
  text-align: center;
  margin: 10px;
  padding: 15px;
}

.label{
  font-size: 25px;
  margin-left: 50px;
  color: #444;
  
}

input{
  width: 450px;
  height: 35px;
  color: blueviolet;
  font-size: 18px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  
}

.contectfrom{
  background: rgb(220, 220, 220);
  width: 50%;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 20px;
  color: #1f194c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.contectfrom:hover{
  transform: scale(1.05);
}

.btn{
  width: 150px;
  height: 35px;
  background: #555;
  color: white;
  font-size: 18px;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.button{
  margin-left: 50px;
  margin-top: 25px;
}

.grouptab{
  display: flex;
  margin-left: 155px;
  margin-right: 155px;
}

.googlemap{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.h1text{
  color: #1f194c;
  margin: 20px;
  
}

.map:hover {
 
  transform: scale(1.1); 
}

/* single blog */

.blogheader{
  text-align: center;
  text-shadow: 1px 2px #444;
  font-size: 35px;
  margin: 15px;
}

.cardtest{
  display: flex;
  justify-content: center;
}

.boxcard{
   width: 1000px;
   height: 300px;
   align-items: center;
   background-color: #dfdfdf;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 45px;
   transform: scale(1.05); 
}

.boxheader{
  margin: 20px;
}

.pblog{
  font-size: 25px;
  margin-top: 10px;
  text-align: justify;
}

.h3blog{
  font-size: 35px;
}

/* portfolio */


.headportfolio{
  font-size: 45px;
  text-align: center;
  text-shadow: 1px 2px #444;
}

.portfolio{
  display: flex;
  justify-content: center;
}

.portcatd{
  border-radius: 20%;
  transform: scale(1.05); 
  height: 300px;
  width: 350px;
   margin: 20px;
   background-color: #fffcfc;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.btned{
  width: 150px;
  height: 35px;
  color: white;
  font-size: 18px;
  margin-left: auto;
  border: 2px solid #ffffff;
}

.buttoned{
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

/* slider css */

.slideheader{
  text-align: center;
  margin: 10px;
}

#slideshow{
  background-color: rgb(242, 255, 0);
  width: 100%;
  height: 100%;

}
.slidebox{
  
  height: 250px;
  width: 900px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  margin-bottom: 0px;
  
}

.slideing{
  display: flex;
  animation: slideing 17s infinite ;
}

@keyframes slideing {
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(-25%);
  }
  50%{
      transform: translateX(-50%);
  }
  75%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(-150%);
  }
}
    
/* customer review */

.cardtextses{
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}

.boxses{
   width: 50%;
   height: 100%;
   margin: 20px;
   align-items: center;
}

.reviewimg{
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.boxses:hover {
 transform: scale(1.05); 
}

.checked {
  color: orange;
}

.btn{
  width: 150px;
  height: 35px;
  /* background:#4b4b4d; */
  color: white;
  font-size: 18px;
  margin-left: auto;
  border: 2px solid #ffffff;
}

.buttones{
  text-align: center;
  margin: 10px;
  text-decoration: none;
  
}

.reviewheader{
  font-size: 35px;
  text-align: center;
  margin: 10px;
}

.reting{
  text-align: center;
}

.checked {
  color: orange;
}

