.required::after {
    content: "*";
    color: red;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    /* Adjust the width as per your requirement */
}

i {
    cursor: pointer;
}

#card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Ensures the image scales correctly without distortion */
}

/* Optional: Add a fixed size to the card as well */
#card {
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
    height: 150px;
    /* Adjust as needed */
    width: 255px;
    /* Adjust as needed */
    border: 1px solid #ccc;
    /* Optional styling for the card */
    padding: 10px;
    /* Optional padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional shadow */
}